body{
  margin: 0px;
  padding: 0px;
  /* background-color: white */
}

.navbar{
  background-color: rgb(46, 45, 45);   
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  padding: 7px 50px;
  width:75vw;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  
  /* position:fixed; */
  /* overflow: hidden; */
  /* top: 0; */
  /* z-index: 9; */


}
.nav-items{
  /* display: inline-block; */
  padding: 9px 25px;
  list-style: none;
  color: #eeb60f;
  transition: ease-in-out 0.3s; 
  margin: 5px 0px ;
  border-radius: 8px;
  font-weight: 600;
text-decoration: none;
  font-size: 20px;
}
.navbar li:hover{
  background-color: #eeb60f;
  color: rgb(46, 45, 45);  
  text-decoration: none; 
}
.heading{
  font: 600;
  font-size: xx-large;
  color: rgb(46, 45, 45); 
  text-align: center;
margin: 40px auto 30px;
  width: 30%;
  font-size: 40px;
  border: 5px solid #eeb60f ;
  padding: 10px;
  /* text-align: center; */
  
}
.per-heading{
  font: 600;
  font-size: xx-large;
  color: rgb(46, 45, 45); 
  text-align: center;
  margin:30px auto ;
  width: 45%;
  font-size: 40px;
  border: 5px solid #eeb60f ;
  padding: 10px;}

.heading-1{
font: 600;
font-size: xx-large;
color: rgb(46, 45, 45); 
text-align: center;
margin: 30px auto 30px;
width: 30%;
font-size: 40px;
border: 5px solid #eeb60f ;
padding: 10px;
text-align: center;


}
#iframee {
margin-left: 11%;
width: 75vw;
height: 60vh;
border: 5px solid #eeb60f;
}
.fav{
  background-color:rgb(46, 45, 45);
  padding: 7px 50px;
  width:75%;
  height:600px;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
  margin: auto;
  /* position: relative; */
}


/* .ul-class{
  /* margin: 20px auto; */
  /* padding: 0px;
  width: 70vw;
  background-color: aqua;
  display: inline;
  
} */ 
.fav-items{
  padding: 9px 25px;
  list-style: none;
  color: rgb(46, 45, 45); 
  transition: ease-in-out 0.3s; 
  margin: 5px 0px ;
  font-weight: 500;
  /* border-radius: 8px; */
  font-weight: 600;
  background-color: #eeb60f;
}
.fav-items:hover{
  box-shadow: 2px 12px 16px 0 rgba(239, 237, 237, 0.206), 0 17px 50px 0 rgba(255, 255, 255, 0.14);
}
.para{
  background-color: #ffdb71;
  color: rgb(46, 45, 45); 
  text-align: center;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 5px;
}
/* ------------------------- */
.sliding{
  font: 600;
  font-size: xx-large;
  color: rgb(46, 45, 45); 
  background-color: #eeb60f;
  text-align: center;
  margin: 30px auto ;
  display: inline;
  padding: 10px;
  font-size: 40px;
  margin-right: 20px;
}
.para-img{
  width: 100%;
  height: 400px;
  margin: 20px auto ;
  border-radius: 20px;
}
.code{
  height: 100%;
  width:100%;
  display: flex;
  /* justify-content:center; */
  align-items: center;
  background-color: rgb(46, 45, 45); 
  margin: 30px auto;

}
.code-1{
  margin: auto 10px;
}
.code-2{
  border-radius: 12px;
  /* display: block; */
  /* display: relative; */
  margin: 20px 10px;
  padding: 20px 20px;
  text-align: center;
  color:rgb(46, 45, 45); 
  background-color: #ffdb71;

}
.code-pic{
  width:70%;
  border-radius: 20px;
  height: 300px;
  margin: 20px auto;
  display: block;
}


.img-foot{
  border-radius: 50px;
}
a:hover{
  text-decoration: none;
}

/* --------------------------------------------------- */

/* --------------------------------------------------- */

/* --------------------------------------------------- */

/* ----------------personality css----------------------------------- */



.color {
  background-color: #000000;
  background-image: linear-gradient(315deg, hsla(51, 83%, 54%, 0.963) 0%, #ddcc7fd5 74%);
  border-radius: 28px;
}

.footer .footer-bottom{
  background: #04417C;
  height: 43px;
  color: white;
  font-size: 12px;
}
.footer .footer-bottom .col-md-4{
  margin-top: 12px;
  text-align: center;
}
.footer .footer-bottom span{
  margin-left: 15px;
}
.footer .footer-bottom a{
  color: white;
}
.footer .footer-bottom img:hover{
  margin-bottom: 2px;
}
.footer .footer-bottom #copyright{
  margin-left: -70px;
}
.footer .footer-bottom #policies{
  margin-left: 50px;
}
.footer .footer-bottom #social{
  margin-left: 20px;
}

/* ---------------------------------------------- */
  /* ---------------------------------------------- */
    /* ----------------city css------------------------------ */
      /* ---------------------------------------------- */
      .perhead {
        font-family: cursive;
        color: black;
        text-decoration: underline;
        text-align: center;
      }
      .perhead:hover {
        text-decoration: none;
      }

      .section-1{
        width: 100%;
        /* height: 550px; */
        margin:10px auto;
        /* display: block; */
        /* padding: 20px 40px; */
        padding: 0px;
        text-align: center;
        background-image: linear-gradient(315deg, hsla(55, 16%, 87%, 0.963) 0%, #dfb80ad5 74%);

      } 


      .footer-basic {
        padding: 60px 0px 40px 0px;
        margin-top:100px ;
        background-color: rgb(46, 45, 45);
        color: #4b4c4d;
      }
      
      .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        color: white;
      }
      
      .footer-basic li {
        padding: 0 10px;
      }
      
      .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
        margin-right:5px;
      }
      
      .footer-basic ul a:hover {
        opacity: 1;
      }
      
      .footer-basic .social {
        text-align: center;
        padding-bottom: 25px;
        /* width: 200px; */
      }
      .footer-basic li:hover {
        background-color: rgb(233, 227, 229);
        border-radius: 3px;
        color: #000000;
      }
      #newhr {
        background-color: rgb(233, 227, 229);
        /* width: 10px; */
      }
      
      
        .fa {
          padding: 20px;
          font-size: 25px;
          /* background-color: #eeb60f; */
          /* width: 200px; */
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        
      }
      
      .fa:hover {
        opacity: 0.9;
      }
      hello
      .fa-facebook {
        /* font-size: 25px; */
        padding: 25px 37px;
        border-radius:50% ;
        background: #3b5998;
        color: white;
        font-weight: 700;
      }
      
      .fa-google {
        padding: 25px 31px;
        border-radius:50% ;
        background: #dd4b39;
        color: white;
        font-weight: bold;
      }
      
      .fa-linkedin {
        padding: 24px 30px;
        border-radius:50% ;
        background: #007bb5;
        color: white;
        font-weight: bold;
      }
      .fa-yahoo {
        padding: 25px 32px;
        border-radius:50% ;
        background: #430297;
        color: white;
        font-weight: bold;
      }
      @media only screen and (min-width:300px) and (max-width:991px){
          .navbar{
            position: fixed;
            z-index: 100;
            top:0;
            left:0;
            right:0;
            
          }
          .heading{
          margin: 325px auto 30px; /*220 auto 30 px*/
            text-align: center;
         }
         .res{
          margin-top: 220px;
        }
      .head{
        margin-top: 250px;
      }}
      @media only screen and (min-width:992px) and (max-width:1155px){
          .navbar{
            position: fixed;
            z-index: 100;
            top:0;
            left:0;
            right:0;
            
          }
          .heading{
          margin: 130px auto 30px;
            text-align: center;
         }
         .res{
          margin-top: 140px;
        }}
         @media only screen and (min-width:1156px) and (max-width:1900px){
          .navbar{
            position: fixed;
            z-index: 100;
            top:0;
            left:0;
            right:0;
            
          }
          .heading{
          margin: 100px auto 30px;
            text-align: center;
         }
        .res{
          margin-top: 100px;
        }}


    